<!DOCTYPE html>
<html lang="en">    
    <head>
        <meta charset="UTF-8">
        <link href="../index.css" rel="stylesheet" type="text/css">
        <title>Template</title>
    </head>

    

    <body>

        <header>
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="../template/temp.html">Topic</a></li>
                        <li><a href="../research/research.html">Research</a></li>
                        <li><a href="../data/data.html">Data</a></li>
                        <li><a href="../template/temp.html">References</a></li>
                        <li><a href="../template/temp.html">Style</a></li>
                        <li><a href="../template/temp.html">Layout</a></li>
                        <li><a href="../template/temp.html">Modality</a></li>
                        <li><a href="../template/temp.html">Professionalization</a></li>
                    </ul>
                </nav>
            </div>
    
        </header>

        <div class="sidebar">
            <ul>
                <li><a href="temp.html">Top</a></li>
                <li><a href="#1">Sample Header</a>
                    <ul><li><a href="#2">Sample Header</a></li></ul>
                </li>
                
            </ul>
        </div>

        <div class="module">
            <h1 id="1">Sample Header</h1>
            <h2 id="2">Sample Subheader</h2>
            <p>Text placeholder</p>
            <aside>
                <h3>This is the aside bar</h3>
                <p>Here you can offset information</p>
            </aside>

            <img src="../graphics/illustrations/datalesson_fig5.png" alt="Screenshot of running a PASW test" class="center">
            <h5>Image Caption here</h5>

            <p>Example of a <strong>black bold</strong>, a <b>blue bold</b>, <i>itallic</i>, and <u>underline</u></p>

            <p><a href="../index.html">Link to the homepage</a></p>

        </div>

        
        
    </body>
</html>
