

body {
    background: #ebe9e9;
    font-family: arial;
}

header {
    background: #48474C;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.module {
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 225px;
    padding: 20px;
    background-color: #ffffff;
    width: 85%;
    
}

.module1 {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px;
    background-color: #ffffff;
    width: 95%;
    
}

nav {
    height: 30%;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
    
}

nav a {
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    text-underline-offset: none;
    text-decoration: none;
}


nav a:hover {
    color: rgb(227, 227, 227);
}

nav a::before{
    content: "";
    display: black;
    height: 5px;
    background-color: rgb(236, 251, 246);

    position: absolute;
    bottom: 0;
    width: 0%;

    transition: all ease-in-out 150ms;
}

nav a:hover::before {
    width: 100%;
}


.sidebar {
    width: 200px;
    height: 100%;
    display: flex;
    position: fixed;
    float: left;
    padding-right: 10px;
    background-color: #ebe9e9;
}

.sidebar a {
    color:black;
    text-underline-offset: none;
    text-decoration: none;
}

.sidebar a:hover{
    color: rgb(81, 78, 74);

}

.sidebar ul ul li {
    color: black;
    text-underline-offset: none;
    text-decoration: none;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}


h1 {
    font-size: 26px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 16px;
    
}

h5 {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

li {
    font-size: 16px;
}

aside {
    font-style: italic;
    padding: 10px;
    margin-left: 10px;
    border-left: rgb(91, 130, 203) solid 5px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

b {
    font-weight: bold;
    color: rgb(79, 112, 174);
}